<table class="ui-state-highlight ui-corner-all">
	<thead>
		<tr><th>Candidate</th><th>Votes</th<th>Supporting demographics</th></tr>
	</thead>
	<tbody>
		<% supporters.keys.each do |c| %>
			<tr><td><%= c %></td><td><%= votes[c] %></td><td><em><%= supporters[c].join("</em>, <em>") %></em></td></tr>
		<% end %>
	</tbody>
</table>
