<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Parallel Elections Calculator</title>
		<link type="text/css" href="stylesheets/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
		<script type="text/javascript">
			var systems_override;
			<% unless params[:systems].nil? %>
				systems_override = new Array("<%= params[:systems].split(',').join('","') %>"); 
			<% end %>
		</script>
		<script type="text/javascript" src="javascripts/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui-1.7.2.custom.min.js"></script>
		<script type="text/javascript" src="javascripts/application.js"></script>
		<style type="text/css">
			body { font-family: "Helvetica", sans-serif; margin: 0 auto; padding: 5em; line-height: 1.3em; font-size: 12px; min-width: 620px; max-width: 800px; }
			a, .ui-widget-content a { color: #1c94c4 }
			td, th { padding: 0.25em 0.75em; }
			th a { text-decoration: none; }
			dd { margin-bottom: 1em; }
			h2 { clear: both; }
			h4 { margin-top: 3em; }
			#initial-values { width: 100%; }
			#initial-values td { width: 10em; }
			#initial-values tbody th { white-space: nowrap; }
			#initial-values thead th, #initial-values tfoot th { padding: 1.5em 0.5em; min-width: 7.5em; }
			#actions { list-style-type: none; }
			#actions li { float: right; margin-left: 0.5em; }
			#actions li a { padding: 0.5em; text-decoration: none; }
			#scenarios { margin-bottom: 1em; }
			#scenarios p { margin: 0.5em 0 1.5em; }
			#scenarios p:last-child { margin-bottom: 0.5em; }
			.ui-state-error {  padding: 1em; text-decoration: none; position: relative; }
			#results { min-height: 20em; }
			#results th { text-align: left; }
			#accordion > h3 > a > span { position: absolute; left: 15em; }
			#accordion > div > *:first-child { margin-top: 0; }
			#accordion > div > *:last-child { margin-bottom: 0; }
			#footer { font-size: 90%; border-top: 1px solid #CCC; margin-top: 5em; }
		</style>	
	</head>
	<body>				
		<h1>Parallel Elections Calculator</h1>
		<p><a href="http://en.wikipedia.org/wiki/Voting_systems">Some systems</a> seem fairer than others.</p>
		<div id="preferences">
			<h2>Preferences</h2>
			<table class="ui-widget-content ui-corner-all" id="initial-values">
                <thead>
                    <tr>
                        <td></td>
                        <th>Demographic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Candidate</th>
                        <td><div class="slider"></div></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Demographic size</th>
                        <td><div class="slider"></div></td>
                    </tr>
                </tfoot>
            </table>
			<ul id="actions">
				<li><a id="action-add-demographic" class="ui-state-default ui-corner-all" href="#">Add a demographic</a></li>
				<li><a id="action-add-candidate" class="ui-state-default ui-corner-all" href="#">Add a candidate</a></li>
			</ul>
            <h2>Scenarios</h2>
            <div id="scenarios">
                <ul>
                    <li><a id="scenario-splitting" href="#splitting">Plurality splits votes</a></li>
                    <li><a id="scenario-tactical" href="#tactical">Plurality forces tactical voting</a></li>
                    <li><a id="scenario-ignored" href="#ignored">IRV ignores some preferences</a></li>
                </ul>
                <div id="splitting">
                    <p>Take a look at the preferences above. 34% want a yellowish candidate and 66% want a blueish-greenish candidate. Under plurality, the yellow candidate wins. Sound fair? No, I didn't think so.</p>
                </div>
                <div id="tactical">
                    <p>Oh no! The cruise ship has developed an unpatchable leak in its fuel supply. We need to decide on a course of action.</p>
					<p>See how the crew and passengers dominate the voting with their preferences. The adventurous passengers want to vote to search for a tropical paradise, but know they have no chance of winning in a plurality election. So what can they do? The adventurous passengers are forced to cast insincere votes for the lesser of two popular evils.</p>
					<p>In the general case, this type of tactical voting reduces the percieved support of political candidates and just reinforces the inaccurate perception of their popularity.</p>
                </div>
                <div id="ignored">
                    <p>Let's say there's a conference and we want to order some ice cream. What flavour do we get if we want everyone to be happy?</p>
					<p>Under IRV, the economists wouldn't get their first or second choice, despite being the largest demographic. This happens because strawberry is eliminted in the first round. You'd think we'd want to consider the second choice of such a large group. Systems like the Schulze Method satisfy address <a href="http://en.wikipedia.org/wiki/Condorcet_criterion">this issue</a>.</p>
					<p>Now I know what you're thinking: &quot;What about Neapolitan?&quot; Well, that would fall under the category of <a href="http://en.wikipedia.org/wiki/Voting_systems#Multiple-winner_methods">multiple-winner voting systems</a>.</p>
                </div>
            </div>
		</div>
		<div id="results">
		</div>
		<div id="footer">
			<h4>Notes</h4>
			<p>This calculator also supports <a href="http://en.wikipedia.org/wiki/Ranked_Pairs">Ranked Pairs</a> (omitted as it's oh-so-similar to the Schulze method) and <a href="http://en.wikipedia.org/wiki/Range_voting">range voting</a> (omitted as its Nash equilibrium results in a Condorcet winner). Both can be activated by <a href="?systems=all">viewing all systems</a>.</p>
			<h4>Licensing</h4>
			<p><a href="http://en.wikipedia.org/wiki/Voting_systems">Election systems text</a> is sourced from Wikipedia and, as such, is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons</a>. Wikipedia also has <a href="http://en.wikipedia.org/wiki/Effects_of_different_voting_systems_under_similar_circumstances">a more in-depth analysis of the effects of different voting systems</a> that's well worth looking at.</p>
			<p>Source code is licensed under the GPL.</p>
		</div>
		
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6512994-2");
pageTracker._trackPageview();
} catch(err) {}</script>

	</body>
</html>
